.searchbar_container{
    height: 30px;
    width: 200%;
}

.searchbar{
    height: 100%;
    width: 47%;
    font-size: 1.3rem;
    border-radius: 12px;
}

.searchbar_button{
    border-radius: 12px;;
    height: 100%;
    width: 4rem;
    background-color: #00000081;
    color: white; 
}

