.component{
    background-image: url("./dog-detail.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.card{
 width: auto;
 height: auto;
 background-color: rgba(0, 0, 0, 0.350);
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
h3{
    color:blanchedalmond;
}
h2{
    color:aliceblue;
    font-weight: bold;
}

button {
    color: #090909;
    padding: 0.7em 1.7em;
    margin: 10px 10px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button:hover {
    border: 1px solid white;
   }
   
   button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
   }